<%- include('layout/header') %>
    <div class="container mt-5">
        <h1 class="mb-5">Listado de Secciones</h1>
        <% if (secciones.length > 0) { %>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Alumnos</th>
                    <th scope="col">Materia ID</th>
                </tr>
            </thead>
            <tbody>
                <% secciones.forEach((row, index)=> { %>
                    <tr class="table-primary border-primary">
                        <td scope="row">
                            <%= row._id %>
                        </td>
                        <td>
                            <%= row.nombre %>
                        </td>
                        <td>
                            <%= row.alumnos %>
                        </td>
                        <td>
                            <%= row.materiaId %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <h3>No hay Secciones Registradas...</h3>
        <% } %>
    </div>
    <%- include('layout/footer') %>